pybind11
sphinx_rtd_theme
myst_parser
pytest
sphinx_tippy
sphinxcontrib-bibtex
oldest-supported-numpy

# need pin for python3.12 compatibility
# see https://github.com/yaml/pyyaml/issues/723
pyyaml>=6.0.1
